@model BtsIntegrated.Controllers.UserLocation
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Study Space Finder</h1>
    <p class="lead">Please enter your Location and Cick "Find Me" to begin</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
 
</div>
<div class="row">
    @using (Html.BeginForm("Markers", "Home",FormMethod.Post,new {postalCode="postalCode"}))
    {
        <div class="col-lg-3"></div>
        <div class="form-group col-lg-4">
            @Html.EditorFor(m => m.PostalCode, new { htmlAttributes = new { @class = "form-control input-lg" } })
            @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            <br />
            <div class="form-group col-lg-2">
                <input type="submit" value="Find Me" class="btn-lg btn-primary" />
            </div>
        </div>
        <div class="col-lg-3"></div>
    }
</div>

